[defaults]
inventory            = inventory.ini
roles_path           = roles
stdout_callback      = yaml
retry_files_enabled  = False
interpreter_python   = auto_silent
nocows               = 1
# Diffs immer anzeigen: du siehst, was an deinen Configs geaendert wird.
[diff]
always = True
context = 3
